<nz-space>
  <ng-container *ngIf="showAddBtn">
    <button  nzSize="large" *nzSpaceItem nz-button nzType="primary" (click)="add.emit()">
      <i nz-icon nzType="plus"></i>
      新增
    </button>
  </ng-container>

  <ng-container *ngIf="showExportBtn">
    <button  nzSize="large" *nzSpaceItem nz-button nzType="primary" class="btn">
      <span nz-icon nzType="cloud-download" nzTheme="outline"></span>
      <a download="filename" [href]="downloadApi" styl>导出</a>
    </button>
  </ng-container>

  <ng-container *ngIf="showImportBtn">
    <nz-upload  nzSize="large"
      *nzSpaceItem
      [nzAction]="uploadApi"
      [nzShowUploadList]="false"
      (nzChange)="handleUpload($event)"
    >
      <button nz-button  nzSize="large" nzType="primary">
        <span nz-icon nzType="cloud-upload"></span>
        导入
      </button>
    </nz-upload>
  </ng-container>

  <ng-container *ngIf="showDelBtn">
    <button  nzSize="large"
      *nzSpaceItem
      nz-button
      nzType="primary"
      nzDanger
      (click)="batchDel.emit()"
    >
      批量删除
    </button>
  </ng-container>
</nz-space>
