<nz-page-header nzBackIcon>
  <nz-page-header-title>用户{{this.id?"编辑":"创建"}}</nz-page-header-title> 
  <nz-page-header-extra>
    
      <button   nz-button nzType="primary" (click)="onSubmit()">保存</button>
  
  </nz-page-header-extra>
</nz-page-header>


<form nz-form (ngSubmit)="onSubmit()" [formGroup]="formGroup">

  <!-- <ng-container *ngIf="!id; else elseTemplate">
    <nz-form-item >
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="id">id</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input formControlName="id" placeholder="选填"/>
      </nz-form-control>
    </nz-form-item>
  </ng-container> 
  <ng-template #elseTemplate> -->
    <nz-form-item  >
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">名称</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input formControlName="name"/>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item  >
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cellphone">电话</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input nzPlaceHolder="电话" formControlName="cellphone"/>
        
      </nz-form-control>
    </nz-form-item>


    <nz-form-item  >
      <nz-form-label [nzSm]="6" [nzXs]="24"   nzFor="email">邮箱</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input nzPlaceHolder="邮箱" formControlName="email"/>
    
      </nz-form-control>
    </nz-form-item>

    <nz-form-item  >
      <nz-form-label [nzSm]="6" [nzXs]="24"   nzFor="disabled">禁用</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <nz-switch formControlName="disabled"></nz-switch> 
      </nz-form-control>
    </nz-form-item>

     

   
    <nz-form-item  >
      <nz-form-label [nzSm]="6" [nzXs]="24"   nzFor="admin">管理员权限</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <nz-switch formControlName="admin"></nz-switch> 
      </nz-form-control>
    </nz-form-item>
   

   


  <!-- </ng-template> -->





</form>
