<nz-space class="toolbar">
  <button *nzSpaceItem nz-button nzType="primary" nzSize="large">
    <span nz-icon nzType="reload"></span>
    刷新
  </button>

  <div *nzSpaceItem  class="search">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input type="text" nz-input placeholder="请输入关键字" />
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSize="large" nzSearch>搜索</button>
    </ng-template>
  </div>

  <div *nzSpaceItem >
    <button nz-button nzType="primary" nzSize="large" nzShape="round" routerLink="create">
      <span nz-icon nzType="plus"></span>
      新建
    </button>
  </div>
</nz-space>


<nz-row [nzGutter]="[4,4]">
  <nz-col *ngFor="let p of products"
          [nzXs]="12" [nzSm]="8"
          [nzMd]="6" [nzLg]="4"
          [nzXl]="3" [nzXXl]="2">

    <nz-card nzTitle="产品名称" nzSize="small" nzHoverable [nzCover]="coverTemplate" [nzActions]="[actionView, actionEdit, actionEllipsis]">
      <nz-card-meta nzDescription="产品说明"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png?x-oss-process=image/resize,w_640"/>
    </ng-template>
    <ng-template #actionView>
      <span nz-icon nzType="eye" title="打开"></span>
    </ng-template>
    <ng-template #actionEdit>
      <span nz-icon nzType="edit" title="编辑"></span>
    </ng-template>
    <ng-template #actionEllipsis>
      <span nz-icon nzType="ellipsis" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"></span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <span nz-icon nzType="delete"></span>
            删除
          </li>
        </ul>
      </nz-dropdown-menu>
    </ng-template>

  </nz-col>
</nz-row>


<div class="pages">
  <nz-pagination [nzPageIndex]="3" [nzPageSize]="10" [nzTotal]="500" nzShowSizeChanger
                 nzShowQuickJumper></nz-pagination>
</div>
