<form nz-form [formGroup]="group" (ngSubmit)="onSubmit()">

  <ng-template #errorTip let-control>
    <ng-container *ngIf="control.hasError('required')">必填项</ng-container>
    <ng-container *ngIf="control.hasError('pattern')">格式不对</ng-container>
    <ng-container *ngIf="control.hasError('min')">太小了</ng-container>
    <ng-container *ngIf="control.hasError('max')">太大了</ng-container>
    <ng-container *ngIf="control.hasError('minlength')">太短了</ng-container>
    <ng-container *ngIf="control.hasError('maxlength')">太长了</ng-container>
  </ng-template>

  <ng-container *ngFor="let f of fields">

    <nz-form-item *ngIf="!f.hidden">
      <nz-form-label [nzSm]="6" [nzXs]="24"
                     [nzRequired]="f.required"
                     [nzFor]="f.key">{{ f.label }}
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTip">
        <ng-container [ngSwitch]="f.type">

          <!--文本-->
          <input nz-input *ngSwitchCase="'text'"
                 [formControlName]="f.key"
                 [minlength]="f.min || 0" [maxlength]="f.max || 200"
                 [placeholder]="f.placeholder || ''"/>

          <!--密码-->
          <input nz-input type="password" *ngSwitchCase="'password'"
                 [formControlName]="f.key"
                 [minlength]="f.min || 0" [maxlength]="f.max || 200"
                 [placeholder]="f.placeholder || ''"/>

          <!--数值-->
          <nz-input-number *ngSwitchCase="'number'"
                           [formControlName]="f.key"
                           [nzMax]="f.max || 100" [nzMin]="f.min || 0" [nzStep]="f.step || 1"
                           [nzPlaceHolder]="f.placeholder || ''"></nz-input-number>

          <!--选项-->
          <nz-select *ngSwitchCase="'select'"
                     [nzOptions]="f.options || empty"
                     [formControlName]="f.key"
                     [nzPlaceHolder]="f.placeholder || ''"></nz-select>

          <!--标签-->
          <nz-select *ngSwitchCase="'tags'" nzMode="tags"
                     [nzTokenSeparators]="[',','，', ' ', ';']"
                     [nzOptions]="f.options || empty"
                     [formControlName]="f.key"
                     [nzPlaceHolder]="f.placeholder || '输入 逗号，分号，空格 分隔'"></nz-select>

          <!--颜色-->
          <nz-color-picker *ngSwitchCase="'color'"
                           [formControlName]="f.key"
                           nzShowText></nz-color-picker>

          <!--开关-->
          <nz-switch *ngSwitchCase="'switch'"
                     [formControlName]="f.key"></nz-switch>

          <!--多行文本-->
          <nz-textarea-count *ngSwitchCase="'textarea'" [nzMaxCharacterCount]="f.max || 200">
            <textarea rows="4" nz-input [formControlName]="f.key"></textarea>
          </nz-textarea-count>

          <!--进度条-->
          <nz-slider *ngSwitchCase="'slider'"
                     [formControlName]="f.key"
                     [nzMax]="f.max" [nzMin]="f.min" [nzStep]="f.step"></nz-slider>

          <!--日期-->
          <nz-date-picker *ngSwitchCase="'date'"
                          [formControlName]="f.key"
                          [nzShowTime]="!!f.time"
                          [nzPlaceHolder]="f.placeholder || ''"></nz-date-picker>

          <!--时间-->
          <nz-time-picker *ngSwitchCase="'time'"
                          [formControlName]="f.key"
                          [nzPlaceHolder]="f.placeholder || ''"></nz-time-picker>

          <!--文件-->
          <nz-upload *ngSwitchCase="'file'"
                     [nzAction]="f.action"
                     (nzChange)="handleUpload($event)">
            <button nz-button>
              <span nz-icon nzType="upload"></span>
              上传文件
            </button>
          </nz-upload>

          <!--默认 用文本-->
          <span *ngSwitchDefault>
          不支持的控件类型：{{ f.type }}
        </span>

          <!--扩展类型-->
          <app-input-product *ngSwitchCase="'product'" [formControlName]="f.key"></app-input-product>
          <app-input-project *ngSwitchCase="'project'" [formControlName]="f.key"></app-input-project>
          <app-input-device *ngSwitchCase="'device'" [formControlName]="f.key" [data]="f.data"></app-input-device>
          <app-input-gateway *ngSwitchCase="'gateway'" [formControlName]="f.key" [data]="f.data"></app-input-gateway>
          <app-input-space *ngSwitchCase="'space'" [formControlName]="f.key" [data]="f.data"></app-input-space>

        </ng-container>
      </nz-form-control>
    </nz-form-item>

  </ng-container>

</form>
