<nz-page-header nzBackIcon>
  <nz-page-header-title>项目详情</nz-page-header-title>
  <nz-page-header-subtitle>项目的名称</nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-space>
      <button *nzSpaceItem nz-button>编辑</button>
      <button *nzSpaceItem nz-button>删除</button>
    </nz-space>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-descriptions nzSize="small" [nzColumn]="3">
      <nz-descriptions-item nzTitle="Created" [nzSpan]="1">Lili Qu</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Association" [nzSpan]="1"><a>421421</a></nz-descriptions-item>
      <nz-descriptions-item nzTitle="Creation Time" [nzSpan]="1">2017-01-10</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Effective Time" [nzSpan]="1">2017-10-10</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Remarks" [nzSpan]="2">
        Gonghu Road, Xihu District, Hangzhou, Zhejiang, China
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-page-header-content>
</nz-page-header>

<div>
  TODO：插件的列表，比如：历史数据，组态，大屏
</div>
