<nz-card nzTitle="设置 数据库" [nzExtra]="extraTemplate">

<form nz-form [formGroup]="formGroup">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type">数据库类型</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <nz-select formControlName="type">
        <nz-option nzLabel="SQLite（内置）" nzValue="sqlite"></nz-option>
        <nz-option nzLabel="MySQL" nzValue="mysql"></nz-option>
        <nz-option nzLabel="Postgres" nzValue="postgres"></nz-option>
        <nz-option nzLabel="Microsoft SQL Server" nzValue="sqlserver"></nz-option>
        <nz-option nzLabel="Oracle" nzValue="godror"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="url">连接字符串</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <input nz-input formControlName="url"/>
      示例：{{urls[formGroup.controls['type'].value]}} <a (click)="writeExample()">写入</a>
    </nz-form-control>
  </nz-form-item>


</form>


</nz-card>
<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="onSubmit()">保存</button>
</ng-template>
