<nz-space class="toolbar">
  <button
    *nzSpaceItem
    nz-button
    nzType="primary"

    (click)="refresh()"
  >
    <span nz-icon nzType="reload"></span>
    刷新
  </button>

  <div *nzSpaceItem class="search">
    <nz-input-group nzSearch  [nzAddOnAfter]="suffixButton">
      <input
        [(ngModel)]="value"
        type="text"
        nz-input
        placeholder="请输入关键字"
      />
    </nz-input-group>
    <ng-template #suffixButton>
      <button
        nz-button
        nzType="primary"

        nzSearch
        (click)="search()"
      >
        搜索
      </button>
    </ng-template>
  </div>

  <div  *nzSpaceItem  >
    <div *ngIf="!ref">
    <button
      nz-button
      nzType="primary"

      nzShape="round"
      (click)="create()"
    >
      <span nz-icon nzType="plus"></span>
      新建
    </button>
  </div>
  </div>
</nz-space>

<nz-row [nzGutter]="[4, 4]" *ngIf="!ref">
  <nz-col
    *ngFor="let p of products"
    [nzXs]="12"
    [nzSm]="8"
    [nzMd]="6"
    [nzLg]="4"
    [nzXl]="3"
    [nzXXl]="2"
  >
    <nz-card
      [nzTitle]="p.name || '暂无'"
      nzSize="small"
      nzHoverable
      [nzCover]="coverTemplate"
      [nzActions]="[actionView, actionEdit, actionEllipsis]"
    >
      <nz-card-meta [nzDescription]="p.description || '暂无'"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" [src]="'/assets/temp.png'" />
      <!-- p.icon -->
    </ng-template>
    <ng-template #actionView>
      <span nz-icon nzType="eye" title="打开" [routerLink]="p.id"></span>
    </ng-template>
    <ng-template #actionEdit>
      <span
        nz-icon
        nzType="edit"
        title="编辑"
        [routerLink]="p.id + '/edit'"
      ></span>
    </ng-template>
    <ng-template #actionEllipsis>
      <span
        nz-icon
        nzType="ellipsis"
        nz-dropdown
        [nzDropdownMenu]="menu"
        nzTrigger="click"
      ></span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="delete(p.id)">
            <span nz-icon nzType="delete"></span>
            删除
          </li>
        </ul>
      </nz-dropdown-menu>
    </ng-template>
  </nz-col>
</nz-row>

<nz-table #table [nzData]="products" [nzFrontPagination]="false" *ngIf="ref">
  <thead>
    <tr>
      <th>ID</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of products">
      <td>{{ data.id }}</td>
      <td>{{ data.created }}</td>
      <td>
        <a title="选择" (click)="select(data)">选择 </a>
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="pages">
  <nz-pagination
    [nzPageIndex]="nzPageIndex"
    [nzPageSize]="nzPageSize"
    [nzTotal]="total"
    nzShowSizeChanger
    nzShowQuickJumper
    (nzPageIndexChange)="nzPageIndexChange($event)"
    (nzPageSizeChange)="nzPageSizeChange($event)"
  ></nz-pagination>
</div>
