<nz-page-header>
  <nz-page-header-title>绑定插件</nz-page-header-title>
</nz-page-header>

<app-search-form
  placeholder="请输入名称"
  (onSearch)="search($event)"
></app-search-form>

<ng-template #totalTemplate let-total>总共 {{ total }} 条</ng-template>
<nz-table
class="table"
  #basicTable
  [nzData]="datum"
  [nzLoading]="loading"
  nzShowPagination
  [nzFrontPagination]="false"
  nzShowSizeChanger
  [nzTotal]="total"
  [nzShowTotal]="totalTemplate"
  (nzPageSizeChange)="pageSizeChange($event)"
  (nzPageIndexChange)="pageIndexChange($event)"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQuery($event)"
>
  <thead>
    <tr>
      <th nzColumnKey="id" [nzSortFn]="true">ID</th>
      <th nzColumnKey="name">名称</th>
      <th nzColumnKey="description">描述</th>
      <th nzColumnKey="disabled">状态</th>
      <th nzColumnKey="created" [nzSortFn]="true">日期</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.description }}</td>

      <td>
        <nz-tag nzColor="error" *ngIf="data.disabled"> 禁用 </nz-tag>
        <nz-tag nzColor="success" *ngIf="!data.disabled"> 启用 </nz-tag>
      </td>
      <td>{{ data.created | date }}</td>
      <td>
        <a
          nz-popconfirm
          nzPopconfirmTitle="确定绑定?"
          (nzOnConfirm)="submit(data.id)"
          (nzOnCancel)="cancel()"
          nzPopconfirmPlacement="topLeft"
        >
          绑定
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
