<app-toolbar></app-toolbar>


<nz-row [nzGutter]="[4,4]">
  <nz-col [nzXs]="2" [nzSm]="3" [nzMd]="4" [nzLg]="5" [nzXl]="6" [nzXXl]="7">
    <nz-card nzTitle="项目名称" nzSize="small" [nzCover]="coverTemplate" [nzActions]="[actionView, actionEdit, actionEllipsis]">
      <nz-card-meta nzDescription="产品说明"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"/>
    </ng-template>
    <ng-template #actionView>
      <span nz-icon nzType="eye" title="打开"></span>
    </ng-template>
    <ng-template #actionEdit>
      <span nz-icon nzType="edit" title="编辑"></span>
    </ng-template>
    <ng-template #actionEllipsis>
      <span nz-icon nzType="ellipsis" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click"></span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <span nz-icon nzType="delete"></span>
            删除
          </li>
        </ul>
      </nz-dropdown-menu>
    </ng-template>

  </nz-col>
</nz-row>

