<nz-layout style="height: 100%">
  <nz-header>
    <div class="logo">
      <img [src]="os.oem.logo || 'assets/infinite.svg'" alt="logo">
    </div>

    <div class="title">
      {{ os.oem.name || '物联大师' }}
    </div>


    <div class="space">
    </div>

    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="user">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="alarm">
          <span nz-icon nzType="bell"></span>
          通知
        </a>
      </li>
      <li nz-submenu [nzTitle]="us.user.name || us.user.id || '无名'" nzIcon="user">
        <ul>
          <li nz-menu-item nzSelected="false" (click)="handlePassword()">修改密码</li>
          <li nz-menu-divider></li>
          <li nz-menu-item nzSelected="false" nzDanger (click)="handleExit()">退出</li>
        </ul>
      </li>
    </ul>

  </nz-header>

  <nz-layout>
    <nz-sider nzWidth="200px">

      <ul nz-menu nzTheme="dark" nzMode="inline" class="menu">


<!--        <li nz-submenu nzIcon="dashboard" nzTitle="控制台">-->
<!--          <ul>-->
<!--            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="dash">控制台</li>-->
<!--            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="bigdata">数据大屏</li>-->
<!--          </ul>-->
<!--        </li>-->

        <li nz-submenu nzIcon="apartment" nzTitle="项目管理">
          <ul>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="project">所有项目</li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="project/create">创建项目</li>
          </ul>
        </li>

        <li nz-submenu nzIcon="block" nzTitle="设备管理">
          <ul>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="device">所有设备</li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="device/create">创建设备</li>
          </ul>
        </li>

        <li nz-submenu nzIcon="link" nzTitle="网关管理">
          <ul>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="gateway">所有网关</li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="gateway/create">创建网关</li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="gateway/batch" nzDisabled>批量创建</li>
          </ul>
        </li>

        <li nz-submenu nzIcon="profile" nzTitle="产品管理">
          <ul>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="product">所有产品</li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="product/create">创建产品</li>
          </ul>
        </li>

        <li nz-submenu nzIcon="user" nzTitle="用户管理">
          <ul>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="user">所有用户</li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="user/create">创建用户</li>
          </ul>
        </li>

        <li nz-submenu nzIcon="appstore" nzTitle="插件管理">
          <ul>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="plugin">所有插件</li>
          </ul>
        </li>

        <li nz-submenu nzIcon="setting" nzTitle="系统设置">
          <ul>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="setting/web">Web服务</li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="setting/database">数据库</li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="setting/broker">MQTT总线</li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="setting/mqtt">MQTT连接</li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="setting/log">系统日志</li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="setting/attach">附件管理</li>
          </ul>
        </li>

      </ul>

    </nz-sider>
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>

</nz-layout>
