<nz-card [nzTitle]="'产品'+ (this.id ? '编辑' : '创建') " [nzExtra]="extraTemplate">

<form nz-form [formGroup]="formGroup">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="id">ID</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <input nz-input formControlName="id" placeholder="选填，默认随机"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <input nz-input formControlName="name"/>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">关键字</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <nz-select nzMode="tags" [nzTokenSeparators]="[',','，']" nzPlaceHolder="关键字，逗号分隔" formControlName="keywords">
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="version">版本</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <input nz-input formControlName="version"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">说明</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <nz-textarea-count [nzMaxCharacterCount]="200">
        <textarea rows="4" nz-input formControlName="description"></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>

  <!-- <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">封面
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-upload nzAction="/" (nzChange)="onIconChange($event)">
        <button nz-button>
          <span nz-icon nzType="upload"></span> 点击上传
        </button>
      </nz-upload>
    </nz-form-control>
  </nz-form-item> -->


  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="version">URL</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <input nz-input formControlName="url"/>
    </nz-form-control>
  </nz-form-item>

  <!-- <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="version">版本</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <input nz-input formControlName="version"/>
    </nz-form-control>
  </nz-form-item> -->


</form>


</nz-card>
<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="onSubmit()">保存</button>
</ng-template>
