<nz-card nzTitle="设置 Web服务" [nzExtra]="extraTemplate">

  <form nz-form [formGroup]="formGroup">

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="port">HTTP端口号</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input type="number" formControlName="port"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="https">HTTPS</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <nz-select nzPlaceHolder="方式" formControlName="https">
          <nz-option nzLabel="禁用" nzValue=""></nz-option>
          <nz-option nzLabel="TLS" nzValue="TLS"></nz-option>
          <nz-option nzLabel="LetsEncrypt" nzValue="LetsEncrypt"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="formGroup.controls['https'].value==='TLS'">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cert">证书cert</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input type="hidden" formControlName="cert">
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          (nzChange)="onCertChange($event)">
          <button nz-button>
            <span nz-icon nzType="upload"></span>
            上传
          </button>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="formGroup.controls['https'].value==='TLS'">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="key">证书key</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input type="hidden" formControlName="key">
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          (nzChange)="onKeyChange($event)">
          <button nz-button>
            <span nz-icon nzType="upload"></span>
            上传
          </button>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item *ngIf="formGroup.controls['https'].value==='LetsEncrypt'">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="port">Email</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input type="email" formControlName="email"/>
      </nz-form-control>
    </nz-form-item>


  </form>


</nz-card>
<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="onSubmit()">保存</button>
</ng-template>
