<nz-page-header>
  <nz-page-header-title>项目详情</nz-page-header-title>
  <nz-page-header-subtitle>{{ data.name }}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-space>
      <button *nzSpaceItem nz-button routerLink="edit">编辑</button>
      <button *nzSpaceItem nz-button nz-popconfirm nzPopconfirmTitle="确认删除" (nzOnConfirm)="delete()">删除</button>
    </nz-space>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-descriptions nzSize="small" [nzColumn]="3">
      <nz-descriptions-item nzTitle="ID" [nzSpan]="1">{{ data.id }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="名称" [nzSpan]="1">{{ data.name }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="版本" [nzSpan]="1">{{ data.version }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="创建时间" [nzSpan]="1">{{ data.created | date }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="说明" [nzSpan]="2">{{ data.description }}</nz-descriptions-item>
    </nz-descriptions>
  </nz-page-header-content>
</nz-page-header>


<nz-divider nzText="空间列表" nzOrientation="left"></nz-divider>

<button nz-button routerLink="/admin/space/create" [queryParams]="{project:this.id}">新建空间</button>

<div nz-row [nzGutter]="[16,16]">
  <div nz-col [nzXXl]="8" [nzXl]="4" [nzLg]="6" [nzMd]="6" [nzSm]="12" [nzXs]="24" *ngFor="let s of spaces">
    <nz-card nzHoverable (click)="open(s)">
      {{ s.name }}
    </nz-card>
  </div>
</div>
