<img src="assets/infinite.svg" alt="logo">

<div class="title">
  物联大师
</div>

<div class="nav">
  <a routerLink="project">项目</a>
  <a routerLink="device">设备</a>
  <a routerLink="plugin">插件</a>
  <a routerLink="setting">设置</a>
</div>

<div class="space">

</div>

<div class="user">

  <div class="alarm">
    <button mat-button style="color: white" matBadge="8" matBadgePosition="after" matBadgeColor="accent">
      <mat-icon>notifications</mat-icon>
      通知
    </button>
  </div>

  <div class="name">
    <button mat-button [matMenuTriggerFor]="userMenu" style="color: white">
      <mat-icon>account_circle</mat-icon>
      测试账号
    </button>
  </div>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item>修改密码</button>
    <mat-divider></mat-divider>
    <button mat-menu-item>退出</button>
  </mat-menu>

</div>
