<div class="toolbar">
  <nz-space>
    <button *nzSpaceItem nz-button nzType="primary" nzSize="large"  (click)="refresh()">
      <span nz-icon nzType="reload"></span>
      刷新
    </button>

    <div *nzSpaceItem class="search">
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text"  [(ngModel)]="value" nz-input placeholder="请输入关键字"/>
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary"      nzSize="large" nzSearch  (click)="search()">搜索</button>
      </ng-template>
    </div>

    <div *nzSpaceItem >
      <button *ngIf="!ref" nz-button nzType="primary" nzSize="large" nzShape="round" routerLink="create">
        <span nz-icon nzType="plus"></span>
        新建
      </button>
    </div>

  </nz-space>

  <div class="fill"></div>

  <nz-space *ngIf="!ref">
    <div *nzSpaceItem>
      <button nz-button nzType="primary" nzSize="large" routerLink="/admin/product">
        <span nz-icon nzType="profile"></span>
        产品库
      </button>
    </div>

    <div *nzSpaceItem>
      <button nz-button nzType="primary" nzSize="large" routerLink="/admin/gateway">
        <span nz-icon nzType="link"></span>
        网关管理
      </button>
    </div>
  </nz-space>

</div>



<nz-table #table [nzData]="devices" [nzFrontPagination]="false">
  <thead>
  <tr>
    <th>ID</th>
    <th>名称</th>
    <th>产品</th>
    <th>项目</th>
    <th>上线时间</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of table.data">
    <td>{{ data.id }}</td>
    <td>{{ data.name }}</td>
    <td>{{ data.product_id }}</td>
    <td>{{ data.project_id }}</td>
     
    <td [title]="data.online">{{ data.online | date }}</td>
    <td>
      <ng-container *ngIf="!ref; else elseTemplate">
        <nz-space  >
          <a *nzSpaceItem title="打开" [routerLink]="data.id"><i nz-icon nzType="eye"></i></a>
          <a *nzSpaceItem title="编辑" [routerLink]="data.id+'/edit'"><i nz-icon nzType="edit"></i></a>
          <a *nzSpaceItem title="删除" nz-popconfirm nzPopconfirmTitle="确认删除" (nzOnConfirm)="delete(data.id)"><i nz-icon nzType="delete"    ></i></a>
        </nz-space>
      </ng-container>
      <ng-template #elseTemplate>
        <nz-space  >
        <a *nzSpaceItem title="绑定" nz-popconfirm nzPopconfirmTitle="确认绑定" (nzOnConfirm)="select(1,data.id)"><i nz-icon nzType="link"    ></i></a>
        <a *nzSpaceItem title="解绑" nz-popconfirm nzPopconfirmTitle="确认解绑" (nzOnConfirm)="select(0,data.id)"><i nz-icon nzType="disconnect"    ></i></a>
      </nz-space>
      </ng-template>
      
      
    </td>
  </tr>
  </tbody>
</nz-table>





<div class="pages">
  <nz-pagination [nzPageIndex]="nzPageIndex" [nzPageSize]="nzPageSize" [nzTotal]="total" nzShowSizeChanger
                 nzShowQuickJumper (nzPageIndexChange)="nzPageIndexChange($event)"  (nzPageSizeChange)="nzPageSizeChange($event)"></nz-pagination>
</div>
 
               