<nz-layout>
  <nz-sider>
    <ul nz-menu nzMode="inline" nzTheme="light">
      <li nz-submenu nzTitle="系统" nzIcon="appstore" nzOpen>
        <ul>
          <li nz-menu-item nzMatchRouter routerLink="web">Web服务</li>
          <li nz-menu-item nzMatchRouter routerLink="database">数据库</li>
          <li nz-menu-item nzMatchRouter routerLink="broker">MQTT总线</li>
          <li nz-menu-item nzMatchRouter routerLink="mqtt">MQTT连接</li>
          <li nz-menu-item nzMatchRouter routerLink="log">系统日志</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="维护" nzIcon="setting" nzOpen>
        <ul>
          <li nz-menu-item>插件库</li>
          <!-- <li nz-menu-item nzMatchRouter routerLink="backup">数据备份</li>
          <li nz-menu-item nzMatchRouter routerLink="attach">附件</li>  -->
           
        </ul>
      </li>
      
    </ul>
  </nz-sider>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
